
/* .test{
 color: magenta;
}
.header{
    color: yellowgreen;
} */

/* .h1-design{
    color: magenta;
    width: 300px;
    border: 1px solid black;
}

.head{
    font-size: 50px;
} */


/* #products h1{
width: 360px;
padding: 20px;
}


.active{
background-color: green;
border-radius: 10px;
}

.inActive{
background-color: red;
border-radius: 10px;
} */

/* .icon{
    display: flex;
    justify-content: center;
}

.icon i{
    font-size: 100px;
   
}

.container-edit{
    display: flex;
    justify-content: center;
}

button{
    margin-left: 50px;
    margin-right: 50px;
}

.active{
    color: yellow;
} */

body{
    background-color: gray;
}

/* .active-body{
  background-color:  white;
} */